* 
{
	font-family: Arial, Verdana, sans-serif;
	color: #665544;
	text-align: center;
}

body 
{
	
}

#wrap
{
	width: 100%;
	margin: 0 auto;
	overflow: auto;
}

#content 
{
	width: 75%;
	margin: 0 auto;
	overflow: auto;
	background-color: #efefef;
}

#nav, #feature, #footer 
{
	margin: 0;
}

#nav a
{
	text-decoration: none;
	font-weight: bold;
	padding: 0.5em 50px;
}

#feature
{
	padding: 5px;
}

.headpic
{
	width: 10%;
}

.map
{
	width: 70%;
}

.trigger
{
	width: 25%;
	float: right;
}

.column1
{
	padding: 5px;
	margin: 0;
}

.column2
{
	padding: 5px;
	margin: 0;
}

.column3 
{
	padding: 5px;
	margin: 0;
}

li 
{
	display: inline;
}

#nav 
{
	margin: 2%;
	padding: 0.1em;
}

#footer 
{
	padding: 0.5em 0;
	margin: 0;
}

#feature, .article 
{
	background-color: #efefef;
}

@media screen and (min-width: 960px) and (max-width: 1100px)
{
	#wrap
	{
		width: 100%;
	}
}

@media screen and (min-width: 751px) and (max-width: 959px)
{
	#wrap
	{
		width: 100%;
	}
	
	#nav a
	{
		padding: 0.5em 30px;
	}
}

@media screen and (min-width: 700px) and (max-width: 750px)
{
	#wrap
	{
		width: 100%;
	}
	#nav a
	{
		padding: 0.5em 5px;
	}
}

@media screen and (max-width: 699px)
{
	#wrap
	{
		width: 100%;
	}
	#nav a
	{
		padding: 0.5em 30%;
	}
	li
	{
		display: block;
		margin: 20px;
	}
}